<div id="<%= dom_id pago_seguridad_social %>">
  <p>
    <strong>Valor:</strong>
    <%= pago_seguridad_social.valor %>
  </p>

  <p>
    <strong>Comentario:</strong>
    <%= pago_seguridad_social.comentario %>
  </p>

  <p>
    <strong>User:</strong>
    <%= pago_seguridad_social.user_id %>
  </p>

  <p>
    <strong>Persona:</strong>
    <%= pago_seguridad_social.persona_id %>
  </p>

</div>
