
<%= simple_form_for(@iva) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :valor %>
    <%= f.input :comentario %>
    <%= f.input :accion_id, as: :select, collection: Accion.all.map{|u| [u.tipo_accion, u.id]} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
