<p style="color: green"><%= notice %></p>

<%= render @ahorro_seguridad_social %>

<div>
  <%= link_to "Edit this ahorro seguridad social", edit_ahorro_seguridad_social_path(@ahorro_seguridad_social) %> |
  <%= link_to "Back to ahorro seguridad socials", ahorro_seguridad_socials_path %>

  <%= button_to "Destroy this ahorro seguridad social", @ahorro_seguridad_social, method: :delete %>
</div>
